
name: Build and Publish


on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    environment: dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Build Storybook
        run: npm run build-storybook

      - uses: chromaui/action@latest
        if: github.event_name != 'pull_request'
        name: Publish to Chromatic
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish package
        if: github.event_name != 'pull_request'
        run: npm publish --access public --provenance
